*{
    margin: 0;
    padding: 0;
}
body{
    background: white;
}
#customers{
    width:60%;
    height: 200px;
    border:1px solid black;
    background:blue;
   
}
#about{
    width:35%;
    border:1px solid black;
    background: yellow;
    float: right;

}